html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  color: black;
  margin: 0;
  padding: 0; }
.G8x22nXjSYuzfnFaMY5qt .hero {
  background: url("/img/beer-pint.png") no-repeat center -15px;
  background-size: cover;
  min-height: 600px; }
  .G8x22nXjSYuzfnFaMY5qt .hero .hero-text {
    vertical-align: top;
    color: #090909;
    width: 50%;
    margin: 0 auto;
    padding: 13% 0 5% 0; }
    .G8x22nXjSYuzfnFaMY5qt .hero .hero-text p {
      font-size: 1.4rem;
      text-align: center; }
  .G8x22nXjSYuzfnFaMY5qt .hero img {
    width: 30%;
    border-radius: 2em; }

@media (min-width: 350px) {
  .G8x22nXjSYuzfnFaMY5qt .hero {
    min-height: 700px; }
    .G8x22nXjSYuzfnFaMY5qt .hero .hero-text p {
      font-size: 1.6rem; } }

@media (min-width: 768px) {
  .G8x22nXjSYuzfnFaMY5qt .hero {
    width: 75%;
    margin: 0 auto;
    min-height: 1200px; }
    .G8x22nXjSYuzfnFaMY5qt .hero .hero-text p {
      font-size: 2rem; } }
._1YnBKp12AG3QJ19uUlXsXg header {
  background-color: #78c1ce;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1YnBKp12AG3QJ19uUlXsXg header .app-name {
    padding: 8px 0 0 0; }
    ._1YnBKp12AG3QJ19uUlXsXg header .app-name h1 {
      padding-left: 4%;
      margin: 0;
      font-size: 2.4rem; }

._1YnBKp12AG3QJ19uUlXsXg .sub-heading {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1YnBKp12AG3QJ19uUlXsXg .sub-heading h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem; }
  ._1YnBKp12AG3QJ19uUlXsXg .sub-heading .bottle-btn {
    text-align: center;
    margin: 0 0 0 40px; }
    ._1YnBKp12AG3QJ19uUlXsXg .sub-heading .bottle-btn button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      background-color: #97dfb7;
      border-radius: 5px 15px 15px 5px; }
      ._1YnBKp12AG3QJ19uUlXsXg .sub-heading .bottle-btn button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
    ._1YnBKp12AG3QJ19uUlXsXg .sub-heading .bottle-btn div {
      display: inline-block;
      width: 40px;
      height: 18px;
      margin: 0 0 -4px -5px;
      border-radius: 0 5px 5px 0;
      background-color: #97dfb7; }

._1YnBKp12AG3QJ19uUlXsXg .content {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: #fafafa;
  background-color: #d3d3d3;
  background-size: 100%; }

._1YnBKp12AG3QJ19uUlXsXg footer {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0 0;
  color: #fafafa;
  background: #005778;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1YnBKp12AG3QJ19uUlXsXg footer .tabs {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row; }
    ._1YnBKp12AG3QJ19uUlXsXg footer .tabs .nav-link {
      flex: 1;
      text-align: center; }
      ._1YnBKp12AG3QJ19uUlXsXg footer .tabs .nav-link li {
        padding: 5px 0 0;
        font-size: 1.0rem; }
      ._1YnBKp12AG3QJ19uUlXsXg footer .tabs .nav-link i {
        font-size: 2.0rem;
        display: block; }
.error {
  color: red; }
.error {
  color: red; }
._1izU0fXp63dbvv9H8fbTtJ {
  color: #f58220; }
  ._1izU0fXp63dbvv9H8fbTtJ h3 {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
    text-align: center;
    color: #090909; }
  ._1izU0fXp63dbvv9H8fbTtJ .add-beer {
    width: 80%;
    margin: 4% auto;
    padding: 3% 0 10%;
    text-align: center;
    color: #f58220;
    background-color: #f8c9a3;
    border-radius: 15px;
    position: relative; }
    ._1izU0fXp63dbvv9H8fbTtJ .add-beer i {
      position: absolute;
      top: 2%;
      right: 3%; }
    ._1izU0fXp63dbvv9H8fbTtJ .add-beer h4 {
      font-size: 1.4rem; }
    ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields {
      margin-bottom: 5%; }
      ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields label {
        display: block;
        font-size: 1.4rem;
        margin: 3% 0 1% 0; }
      ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields input[type='text'], ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields input[type='number'] {
        font-size: 1.8rem;
        -webkit-appearance: none;
        border: none;
        border-radius: 15px;
        text-align: center; }
      ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields input[type='text']:focus, ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields input[type='number']:focus {
        border-radius: 15px;
        outline: none;
        box-shadow: inset 0 0 5px 1px #005778; }
      ._1izU0fXp63dbvv9H8fbTtJ .add-beer .entry-fields textarea {
        resize: none;
        width: 60%; }
    ._1izU0fXp63dbvv9H8fbTtJ .add-beer button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      border-radius: 15px;
      margin: 0 2%;
      background-color: #f58220; }
      ._1izU0fXp63dbvv9H8fbTtJ .add-beer button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
._1nJA7HWuWIyGH6HWxnQXzU {
  color: #f58220; }
  ._1nJA7HWuWIyGH6HWxnQXzU h3 {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
    text-align: center;
    color: #090909; }
  ._1nJA7HWuWIyGH6HWxnQXzU .add-review {
    width: 80%;
    margin: 4% auto;
    padding: 3% 0 10%;
    text-align: center;
    color: #f58220;
    background-color: #f8c9a3;
    border-radius: 15px;
    position: relative; }
    ._1nJA7HWuWIyGH6HWxnQXzU .add-review i {
      position: absolute;
      top: 2%;
      right: 3%; }
    ._1nJA7HWuWIyGH6HWxnQXzU .add-review h4 {
      font-size: 1.4rem; }
    ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields {
      margin-bottom: 5%; }
      ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields label {
        display: block;
        font-size: 1.4rem;
        margin: 3% 0 1% 0; }
      ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields input[type='text'], ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields input[type='number'] {
        font-size: 1.8rem;
        -webkit-appearance: none;
        border: none;
        border-radius: 15px;
        text-align: center; }
      ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields input[type='text']:focus, ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields input[type='number']:focus {
        border-radius: 15px;
        outline: none;
        box-shadow: inset 0 0 5px 1px #005778; }
      ._1nJA7HWuWIyGH6HWxnQXzU .add-review .entry-fields textarea {
        resize: none;
        width: 60%; }
    ._1nJA7HWuWIyGH6HWxnQXzU .add-review button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      border-radius: 15px;
      margin: 0 2%;
      background-color: #f58220; }
      ._1nJA7HWuWIyGH6HWxnQXzU .add-review button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
  @media (min-width: 768px) {
    ._1nJA7HWuWIyGH6HWxnQXzU .add-review {
      width: 60%;
      padding: 3% 0; }
    ._1nJA7HWuWIyGH6HWxnQXzU .entry-fields textarea {
      height: 50px;
      font-size: 1.4rem; } }
._15jCuTfY5stx1XNn0YGYcb header {
  background-color: #78c1ce;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._15jCuTfY5stx1XNn0YGYcb header .app-name {
    padding: 8px 0 0 0; }
    ._15jCuTfY5stx1XNn0YGYcb header .app-name h1 {
      padding-left: 4%;
      margin: 0;
      font-size: 2.4rem; }

._15jCuTfY5stx1XNn0YGYcb .sub-heading {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._15jCuTfY5stx1XNn0YGYcb .sub-heading h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem; }

._15jCuTfY5stx1XNn0YGYcb .content {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: #fafafa;
  background-color: #d3d3d3;
  background-size: 100%; }

._15jCuTfY5stx1XNn0YGYcb footer {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0 0;
  color: #fafafa;
  background: #005778;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._15jCuTfY5stx1XNn0YGYcb footer .tabs {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row; }
    ._15jCuTfY5stx1XNn0YGYcb footer .tabs .nav-link {
      flex: 1;
      text-align: center; }
      ._15jCuTfY5stx1XNn0YGYcb footer .tabs .nav-link li {
        padding: 5px 0 0;
        font-size: 1.0rem; }
      ._15jCuTfY5stx1XNn0YGYcb footer .tabs .nav-link i {
        font-size: 2.0rem;
        display: block; }
.pckJOSBj2wt45ZAnMd3TS {
  box-sizing: border-box;
  color: #090909;
  margin-bottom: 2%; }
  .pckJOSBj2wt45ZAnMd3TS .beer-listing {
    text-align: center;
    color: #f58220;
    width: 80%;
    margin: 3% auto;
    border-bottom: 1px solid #f58220; }
    .pckJOSBj2wt45ZAnMd3TS .beer-listing .title-line {
      font-size: 1.8rem;
      padding: 0 0 1% 0; }
    .pckJOSBj2wt45ZAnMd3TS .beer-listing .detail-line {
      font-size: 1.4rem;
      padding: 0 0 1% 0; }
  .pckJOSBj2wt45ZAnMd3TS h3 {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
    text-align: center;
    color: #090909; }
  @media (min-width: 768px) {
    .pckJOSBj2wt45ZAnMd3TS .beer-listing {
      width: 50%; } }
._4ir4eP1lGbJgTawhqp8TX {
  text-align: center; }
  ._4ir4eP1lGbJgTawhqp8TX i {
    position: absolute;
    color: #f58220;
    top: 2%;
    right: 3%; }
  ._4ir4eP1lGbJgTawhqp8TX .review-heading {
    margin: 0 0 5%; }
    ._4ir4eP1lGbJgTawhqp8TX .review-heading h3 {
      margin: 10px 0 0 0;
      font-size: 1.6rem;
      text-align: center;
      color: #090909; }
    ._4ir4eP1lGbJgTawhqp8TX .review-heading span {
      color: #090909;
      font-size: 1.4rem; }
  ._4ir4eP1lGbJgTawhqp8TX .review-listing {
    color: #f58220;
    width: 80%;
    margin: 3% auto;
    border-bottom: 1px solid #f58220; }
    ._4ir4eP1lGbJgTawhqp8TX .review-listing .comment-line {
      font-size: 1.8rem;
      padding: 0 0 1% 0; }
    ._4ir4eP1lGbJgTawhqp8TX .review-listing .drink-again-line {
      font-size: 1.4rem;
      padding: 0 0 1% 0; }
  ._4ir4eP1lGbJgTawhqp8TX button {
    padding: 7px 0 9px 0;
    text-align: center;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: 0 2%;
    background-color: #f58220; }
    ._4ir4eP1lGbJgTawhqp8TX button span {
      font-size: 1.4rem;
      font-weight: bold;
      margin-left: -3px; }
  ._4ir4eP1lGbJgTawhqp8TX .capitalize {
    text-transform: capitalize; }
  @media (min-width: 768px) {
    ._4ir4eP1lGbJgTawhqp8TX .review-listing {
      width: 50%; } }
._1OzTLcHgB30oBM6KyYHbyE header {
  background-color: #78c1ce;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1OzTLcHgB30oBM6KyYHbyE header .app-name {
    padding: 8px 0 0 0; }
    ._1OzTLcHgB30oBM6KyYHbyE header .app-name h1 {
      padding-left: 4%;
      margin: 0;
      font-size: 2.4rem; }

._1OzTLcHgB30oBM6KyYHbyE .sub-heading {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1OzTLcHgB30oBM6KyYHbyE .sub-heading h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem; }
  ._1OzTLcHgB30oBM6KyYHbyE .sub-heading .bottle-btn {
    text-align: center;
    margin: 0 0 0 40px; }
    ._1OzTLcHgB30oBM6KyYHbyE .sub-heading .bottle-btn button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      background-color: #97dfb7;
      border-radius: 5px 15px 15px 5px; }
      ._1OzTLcHgB30oBM6KyYHbyE .sub-heading .bottle-btn button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
    ._1OzTLcHgB30oBM6KyYHbyE .sub-heading .bottle-btn div {
      display: inline-block;
      width: 40px;
      height: 18px;
      margin: 0 0 -4px -5px;
      border-radius: 0 5px 5px 0;
      background-color: #97dfb7; }

._1OzTLcHgB30oBM6KyYHbyE .content {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: #fafafa;
  background-color: #d3d3d3;
  background-size: 100%; }

._1OzTLcHgB30oBM6KyYHbyE footer {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0 0;
  color: #fafafa;
  background: #005778;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._1OzTLcHgB30oBM6KyYHbyE footer .tabs {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row; }
    ._1OzTLcHgB30oBM6KyYHbyE footer .tabs .nav-link {
      flex: 1;
      text-align: center; }
      ._1OzTLcHgB30oBM6KyYHbyE footer .tabs .nav-link li {
        padding: 5px 0 0;
        font-size: 1.0rem; }
      ._1OzTLcHgB30oBM6KyYHbyE footer .tabs .nav-link i {
        font-size: 2.0rem;
        display: block; }
._2DAAtHjo-VrJDh962yRSf4 header {
  background-color: #78c1ce;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._2DAAtHjo-VrJDh962yRSf4 header .app-name {
    padding: 8px 0 0 0; }
    ._2DAAtHjo-VrJDh962yRSf4 header .app-name h1 {
      padding-left: 4%;
      margin: 0;
      font-size: 2.4rem; }

._2DAAtHjo-VrJDh962yRSf4 .sub-heading {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._2DAAtHjo-VrJDh962yRSf4 .sub-heading h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem; }
  ._2DAAtHjo-VrJDh962yRSf4 .sub-heading .bottle-btn {
    text-align: center;
    margin: 0 0 0 40px; }
    ._2DAAtHjo-VrJDh962yRSf4 .sub-heading .bottle-btn button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      background-color: #97dfb7;
      border-radius: 5px 15px 15px 5px; }
      ._2DAAtHjo-VrJDh962yRSf4 .sub-heading .bottle-btn button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
    ._2DAAtHjo-VrJDh962yRSf4 .sub-heading .bottle-btn div {
      display: inline-block;
      width: 40px;
      height: 18px;
      margin: 0 0 -4px -5px;
      border-radius: 0 5px 5px 0;
      background-color: #97dfb7; }

._2DAAtHjo-VrJDh962yRSf4 .content {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: #fafafa;
  background-color: #d3d3d3;
  background-size: 100%; }

._2DAAtHjo-VrJDh962yRSf4 footer {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0 0;
  color: #fafafa;
  background: #005778;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._2DAAtHjo-VrJDh962yRSf4 footer .tabs {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row; }
    ._2DAAtHjo-VrJDh962yRSf4 footer .tabs .nav-link {
      flex: 1;
      text-align: center; }
      ._2DAAtHjo-VrJDh962yRSf4 footer .tabs .nav-link li {
        padding: 5px 0 0;
        font-size: 1.0rem; }
      ._2DAAtHjo-VrJDh962yRSf4 footer .tabs .nav-link i {
        font-size: 2.0rem;
        display: block; }
._3dR4U8KApMJqA2YfiBXM60 {
  margin: 2%;
  border: 1px solid black;
  color: #fafafa; }
.tN1SgbKp1wk7kYSjS2KFb {
  margin: 2%;
  border: 1px solid black;
  color: #fafafa; }
._1SD4qXA_ius075k7XSng1E {
  margin: 2%;
  border: 1px solid black;
  color: #fafafa; }
._31YWzvuAPmCgXzfl4rs1aS {
  margin: 2%;
  border: 1px solid black;
  color: #fafafa; }
._3z0ZR-ff-NLQoPBo8gGSQf header {
  background-color: #78c1ce;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._3z0ZR-ff-NLQoPBo8gGSQf header .app-name {
    padding: 8px 0 0 0; }
    ._3z0ZR-ff-NLQoPBo8gGSQf header .app-name h1 {
      padding-left: 4%;
      margin: 0;
      font-size: 2.4rem; }

._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 40px;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading h2 {
    text-align: center;
    margin: 0;
    font-size: 2.8rem; }
  ._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading .bottle-btn {
    text-align: center;
    margin: 0 0 0 40px; }
    ._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading .bottle-btn button {
      padding: 7px 0 9px 0;
      text-align: center;
      width: 120px;
      border: none;
      outline: none;
      background-color: #97dfb7;
      border-radius: 5px 15px 15px 5px; }
      ._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading .bottle-btn button span {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: -3px; }
    ._3z0ZR-ff-NLQoPBo8gGSQf .sub-heading .bottle-btn div {
      display: inline-block;
      width: 40px;
      height: 18px;
      margin: 0 0 -4px -5px;
      border-radius: 0 5px 5px 0;
      background-color: #97dfb7; }

._3z0ZR-ff-NLQoPBo8gGSQf .content {
  position: absolute;
  width: 100%;
  top: 115px;
  bottom: 50px;
  overflow: auto;
  color: #fafafa;
  background-color: #d3d3d3;
  background-size: 100%; }

._3z0ZR-ff-NLQoPBo8gGSQf footer {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0 0;
  color: #fafafa;
  background: #005778;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; }
  ._3z0ZR-ff-NLQoPBo8gGSQf footer .tabs {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row; }
    ._3z0ZR-ff-NLQoPBo8gGSQf footer .tabs .nav-link {
      flex: 1;
      text-align: center; }
      ._3z0ZR-ff-NLQoPBo8gGSQf footer .tabs .nav-link li {
        padding: 5px 0 0;
        font-size: 1.0rem; }
      ._3z0ZR-ff-NLQoPBo8gGSQf footer .tabs .nav-link i {
        font-size: 2.0rem;
        display: block; }

/*# sourceMappingURL=main.css.map*/